<form class="form-cont" [formGroup]="formContact" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="email">Cep</label>
    <input type="email" class="form-control" id="email" placeholder="Digite seu cep" formControlName="cep">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="form-content" *ngIf="cepResponse">
  <p><strong>Cep:</strong> {{ cepResponse.cep }}</p>
  <p><strong>Logradouro:</strong> {{ cepResponse.logradouro }}</p>
  <p><strong>Bairro:</strong> {{ cepResponse.bairro }}</p>
  <p><strong>Cidade:</strong> {{ cepResponse.localidade }}</p>
  <p><strong>Estado:</strong> {{ cepResponse.uf }}</p>

</div>
